###############################################################################
#### Josef Spidlen, May 25, 2016:
#### This is Faysal's original code for reference purposes. We are keeping the
#### idea, but heavily refactoring the implementation of the algorithms.
###############################################################################

#export(BEADflowQBCalculation,find_peak,scatter_gate,LEDflowQBCalculation);
#importClassesFrom(methods, list, numeric, vector)
#importClassesFrom(flowCore, flowFrame)
#importMethodsFrom(Biobase,exprs)
#importMethodsFrom(methods, show)
#importFrom(graphics, abline, axis, par, title)
#importFrom(flowCore, filter)
#importFrom(flowCore, Subset)
#importFrom(stats, kmeans)

#### New code starts here
export("find_peak")
export("get_results_for_dyes")
export("calc_mean_sd_197")
export("calc_mean_sd_duke")
export("calc_mean_sd_capture")
export("calc_mean_sd_capture_all")

exportMethods(
    "split_in_two", 
    "peak_gate", 
    "pick_parameters",
    "fitted_ellipse_gate"
)

importMethodsFrom("flowCore",
    "exprs",
    "description",
    "description<-",
    "colnames"
)

importFrom("extremevalues", "getOutliers")

importFrom("flowCore", "read.FCS")