export(ReadDD,KmeansMeanSD,KmeansMedianrSD,MFI2MESF,lrMESF,qrMESF,DiscriminantExamination);
importClassesFrom(methods, list, numeric, vector)
importClassesFrom(flowCore, flowFrame)
importMethodsFrom(Biobase, exprs)
importMethodsFrom(methods, show)
importFrom(graphics, abline, axis, par, title)
importFrom(flowCore, filter)
importFrom(flowCore, Subset)
importFrom(stats, kmeans)






